# macOS
.DS_Store
Icon
._*
.fseventsd
.Spotlight-V100
.DocumentRevisions-V100
.Trashes
Brewfile.lock.json

# Linux
*~
.fuse_hidden*
.Trash-*

# Windows
Thumbs.db
ehthumbs.db

# Dotfiles specific ignores
ghc/ghci_history

lazygit/state.yml

nvim/colors
nvim/spell
nvim/plugin/aaa_*.lua
nvim/plugin/zzz_*.lua
nvim/after/ftplugin/*/aaa_*.lua
nvim/after/ftplugin/*/zzz_*.lua

sublime-text/Package Control.*

zed/*
!zed/keymap.json
!zed/settings.json

zsh/*
!zsh/.zprofile
!zsh/.zshenv
!zsh/.zshrc
