[submodule "vim/pack/packages/start/vim-commentary"]
	path = vim/pack/packages/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/packages/start/vim-sensible"]
	path = vim/pack/packages/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/pack/packages/start/vim-surround"]
	path = vim/pack/packages/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/packages/start/vim-vinegar"]
	path = vim/pack/packages/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim/pack/packages/start/vim-move"]
	path = vim/pack/packages/start/vim-move
	url = https://github.com/matze/vim-move.git
[submodule "vim/pack/packages/start/vim-peekaboo"]
	path = vim/pack/packages/start/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo.git
