#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio
GenericName=IDE
Comment=The official IDE for Android
Exec=android-studio
Terminal=false
StartupNotify=true
Categories=Utility;Development;
