#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Messenger
GenericName=Facebook Messenger
Comment=Facebook Messenger
Exec=chrome-app Messenger https://messenger.com
Terminal=false
StartupNotify=true
Categories=Social;Web;
