#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=WhatsApp
GenericName=WhatsApp Messenger
Comment=WhatsApp Messenger
Exec=chrome-app WhatsApp https://web.whatsapp.com
Terminal=false
StartupNotify=true
Categories=Social;Web;
