#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio
Comment=The official IDE for Android
GenericName=IDE
Exec=~/bin/android-studio
Terminal=false
StartupNotify=true
Categories=Utility;Development;
