#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=cmus
GenericName=Music Player
Comment=Terminal based music player
Exec=cmus
Terminal=true
StartupNotify=true
Categories=Media;Music;Terminal;
