#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=FastMail
Comment=FastMail: Professional Email Hosting
GenericName=FastMail Mail Client
Exec=~/bin/chrome-app FastMail https://www.fastmail.com
Terminal=false
StartupNotify=true
Categories=Social;Mail;Web;
