#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Godot
GenericName=Game Engine
Comment=The FOSS game engine
Exec=godot
Terminal=false
StartupNotify=true
Categories=Utility;Development;
