#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Vim
GenericName=Text Editor
Comment=Edit text files
TryExec=nvim
Exec=nvim %F
Terminal=true
Keywords=Text;editor;
Icon=gvim
Categories=Utility;TextEditor;
StartupNotify=false
