/*
!fishfile

!conf.d/
conf.d/*
!/conf.d/00-env.fish
!/conf.d/01-config.fish

!functions/
functions/*
!/functions/fish_prompt.fish
!/functions/append_to_path.fish
!/functions/prepend_to_path.fish
!/functions/app.fish
!/functions/code.fish
!/functions/decrypt.fish
!/functions/dock.fish
!/functions/encrypt.fish
!/functions/f.fish
!/functions/mkcd.fish
!/functions/pbcopy.fish
!/functions/pbpaste.fish
!/functions/pip-upgrade.fish
!/functions/rake.fish
!/functions/sudo.fish
!/functions/tm.fish
