/*
!fishfile

!conf.d/
conf.d/*
!/conf.d/00-env.fish
!/conf.d/01-config.fish
!/conf.d/02-aliases.fish
!/conf.d/03-fisherman.fish

!functions/
functions/*
!/functions/fish_prompt.fish
!/functions/append_to_path.fish
!/functions/prepend_to_path.fish
!/functions/mkcd.fish
!/functions/sudo.fish
