# Ignore everything by default
/*

# Only include settings and keymaps
!.gitignore
!*.sublime-settings
!*.sublime-keymap
!*.py
!/snippets/
!/plugins/

# Don't include platform/installation specific settings
EasyClangComplete.sublime-settings
RustAutoComplete.sublime-settings
Terminal.sublime-settings
